* {
  border: 1px solid red;
}
* { 
  font-family: Verdana;
}
p {
  color: green;
}
h2 {
  color: red;
}
h3 {
  color: yellow;
}
h4 {
  color: orange;
}

.title {
  color: blue;
  font-family: San Serif;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

